/* FONTS START */
@font-face {
    font-family: 'Harmonia_black';
    src: url('../fonts/HarmoniaSansProCyr-Black.eot');
    src: url('../fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Black.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Black.svg#HarmoniaSansProCyr-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Harmonia_regular';
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot');
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Harmonia_semibold';
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot');
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Harmonia_bold';
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot');
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Bold.svg#HarmoniaSansProCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Harmonia_italic';
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot');
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Italic.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Italic.svg#HarmoniaSansProCyr-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
/* FONTS END */
/* STYLE RESET START */
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    margin: 0;
    color: #495662;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
}
textarea {
    resize: vertical;
}
/* STYLE RESET END */
/* DEFAULT CLASS START */
.text-center {
    text-align: center;
}
.flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.justify-sb {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.bg-white {
    background-color: #fff;
}
.bg-red {
    background-color: #e12e3f;
}
.bg-dark-blue {
    background-color: #34404b;
}
.bg-blue {
    background-color: #3ab3ff;
}
.bg-green {
    background-color: #2fd967;
}
.text-orange {
    color: #ff5912;
}
.text-dark-blue {
    color: #34404b;
}
.light-orange-bg {
    background-color: #ff9060;
}
.orange-bg {
    background-color: #ff5912;
}
/* DEFAULT CLASS END */
/* DEFAULT COMPONENTS START */
.icon {
    display: inline-block;
}
.title {
    font-family: 'Harmonia_black', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.title.big {
    font-size: 52px;
}
.sub-title {
    font-family: 'Harmonia_bold', sans-serif;
    font-size: 18px;
    color: #3c4751;
    margin-bottom: 16px;
}
.default-section {
    padding: 60px 0;
}
.text-section {
    font-size: 16px;
}
.item-price {
    font-size: 18px;
    font-family: 'Harmonia_bold', sans-serif;
}
/* HEADER START */
.header .top-header {
    padding: 24px 0;
    border-bottom: 1px solid #edeff1;
}
.header .top-header .contacts span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.header .top-header .contacts span + span{
    margin-left: 20px;
}
.header .top-header .contacts span i.icon{
    margin-right: 10px;
}
.header .top-header .social-nav a + a{
    margin-left: 20px;
}
.header .top-header .social-nav a:hover {
    color: #ff5912;
}
.header .bottom-header {
    padding: 40px 0;
}
.header .bottom-header .header-nav {
    margin-left: 80px;
}
.header .bottom-header .header-nav a{
    font-size: 16px;
}
.header .bottom-header .header-nav a:hover{
    color: #ff5912;
    text-decoration: none;
}
.header .bottom-header .header-nav a + a{
    margin-left: 40px;
}
.header .bottom-header .user-controls{
    margin-left: auto;
}
.header .user-controls a + a {
    margin-left: 28px;
}
.header .user-controls .icon.icon-cart-hover-ic {
    margin-bottom: -4px;
}
.count {
    display: inline-block;
    width: 20px;
    font-size: 10px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #34404b;
    color: #fff;
    text-align: center;
    line-height: 20px;
    bottom: 112%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
/* HEADER END */
/* FOOTER START */
/* FOOTER END */
.product-item {
    font-family: 'Harmonia_bold', sans-serif;
    height: 372px;
    font-size: 18px;
    padding: 30px 10px;
    position: relative;
}
.product-item:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.product-item .item-description {
    padding: 0 32px;
    margin-top: 30px;
}
.product-item .item-img {
    height: 216px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.product-item .item-img img {
    max-height: 100%;
}
.product-item .item-title {
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.product-item:hover .item-title {
    color: #ff5912;
}
.product-item:hover .item-price {
    display: none;
}
.product-item:hover .item-img {
    height: 90px;
}
.product-item .more-info-on-hover {
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 0 50px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    z-index: -1;
}
.product-item:hover .more-info-on-hover {
    opacity: 1;
    z-index: 999;
}
.product-item .colors {
    border-bottom: 1px solid #edeff1;
    padding-bottom: 30px;
}
.product-item li{
    display: inline-block;
}
.product-item .colors li{
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
/* DEFAULT COMPONENTS END */
/* CUSTOM STYLE START */
#sale-carousel {
    padding-left: 8%;
}
#sale-carousel .order-info{
    margin-top: 66px;
}
.sale-carousel {
    min-height: 650px;
    background: url('../img/carousel-img-1.jpg') no-repeat center / cover;
    margin-bottom: 60px;
}
.sale-carousel .order-info a{
    margin-left: 30px;
}
.sale-carousel .order-info span i.icon{
    margin-right: 8px;
    margin-bottom: -4px;
}
.sale-carousel .order-info span i.icon.icon-cart-hover-ic{
    margin-bottom: -3px;
}
.sale-carousel .carousel-indicators {
    right: auto;
    bottom: auto;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
.sale-carousel .carousel-indicators li {
    width: 10px;
    height: 18px;
    opacity: 1;
    background-color: #fff;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}.sale-carousel .carousel-indicators li + li {
     margin-top: 10px;
 }
.sale-carousel .carousel-indicators li.active {
    height: 36px;
    background-color: #ff5912;
}
.kit {
    padding: 20px 60px;
    border: 1px solid #eaedef;
}
.sales-block {
    position: relative;
}
.sales-block .light-orange-bg,
.sales-block .orange-bg {
    display: inline-block;
    width: 50px;
    height: 60px;
}
.sales-block .light-orange-bg {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.sales-block .orange-bg {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
/* CUSTOM STYLE END */