/* FONTS START */
@font-face {
    font-family: 'Harmonia_black';
    src: url('../fonts/HarmoniaSansProCyr-Black.eot');
    src: url('../fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Black.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Black.svg#HarmoniaSansProCyr-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Harmonia_regular';
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot');
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Harmonia_semibold';
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot');
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Harmonia_bold';
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot');
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Bold.svg#HarmoniaSansProCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Harmonia_italic';
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot');
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Italic.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Italic.svg#HarmoniaSansProCyr-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
/* FONTS END */
/* STYLE RESET START */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #495662;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
}
textarea {
    resize: vertical;
}
label {
    margin: 0;
}
input, button, select {
    border: none;
    outline: none;
}
button {
    cursor: pointer;
}
/* STYLE RESET END */
/* DEFAULT CLASS START */
.text-center {
    text-align: center;
}
.flex-container {
    display: flex;
}
.justify-sb {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.bg-red {
    background-color: #e12e3f;
}
.bg-dark-blue {
    background-color: #34404b;
}
.bg-blue {
    background-color: #3ab3ff;
}
.bg-green {
    background-color: #2fd967;
}
.text-orange {
    color: #ff5912;
}
.text-dark-blue {
    color: #34404b;
}
.light-orange-bg {
    background-color: #ff9060;
}
.orange-bg {
    background-color: #ff5912;
}
/* DEFAULT CLASS END */
/* DEFAULT COMPONENTS START */
.icon {
    display: inline-block;
}
.title {
    font-family: 'Harmonia_black', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.title.big {
    font-size: 52px;
}
.sub-title {
    font-family: 'Harmonia_semibold', sans-serif;
    font-size: 18px;
    color: #3c4751;
    margin-bottom: 16px;
}
.default-section {
    padding: 60px 0;
}
.text-section {
    font-size: 16px;
}
.item-price {
    font-size: 18px;
    font-family: 'Harmonia_bold', sans-serif;
}
.fas.fa-star {
    color: #f55d43;
}
.fas.fa-star.empty-star {
    color: #e9ecf3;
}
/* HEADER START */
.header .top-header {
    padding: 24px 0;
    border-bottom: 1px solid #edeff1;
}
.header .top-header .contacts span {
    display: flex;
    align-items: center;
}
.header .top-header .contacts span + span{
    margin-left: 20px;
}
.header .top-header .contacts span i.icon{
    margin-right: 10px;
}
.header .top-header .social-nav a + a{
    margin-left: 20px;
}
.header .bottom-header {
    padding: 40px 0;
}
.header .bottom-header .header-nav {
    margin-left: 80px;
}
.header .bottom-header .header-nav a{
    font-size: 16px;
}
.header .bottom-header .header-nav a:hover,
.header .top-header .social-nav a:hover {
    color: #ff5912;
}
.header .bottom-header .header-nav a + a{
    margin-left: 40px;
}
.header .bottom-header .user-controls{
    margin-left: auto;
}
.header .user-controls a + a {
    margin-left: 28px;
}
.icon-search-ic:hover {
    background-position: -81px 0px;
}
.icon-user-ic:hover {
    background-position: 0px -59px;
}
.icon-cart-ic:hover {
    background-position: -20px -59px;
}
.icon-share-ic:hover {
    background-position: -44px -59px;
}
.icon-add-to-cart-ic:hover {
    background-position: 0px -38px;
}
.icon-like-ic:hover {
    background-position: -38px -80px;
}
.count {
    display: inline-block;
    width: 20px;
    font-size: 10px;
    border-radius: 50%;
    background-color: #34404b;
    color: #fff;
    text-align: center;
    line-height: 20px;
    bottom: 112%;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 991px) {
    .header .bottom-header .header-nav {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
    .header .bottom-header .user-controls {
        margin: 0;
    }
}
@media (max-width: 575px) {
    .top-header .flex-container.justify-sb.align-center {
        align-items: baseline;
        flex-wrap: wrap;
    }
    .contacts {
        flex-direction: column;
    }
    .header .top-header .contacts span + span{
        margin-left: 0;
        margin-top: 10px;
    }
    .bottom-header .flex-container.justify-sb.align-center {
        flex-wrap: wrap;
    }
    .user-controls {
        order: 1;
        width: 100%;
        justify-content: center;
        padding-top: 22px;
    }
}
/* HEADER END */
/* FOOTER START */
footer {
    padding: 80px 0;
    font-size: 14px;
    color: #28313b;
    margin-top: 60px;
}
.footer-logo {
    align-items: baseline;
    flex-direction: column;
}
.footer-logo img {
    margin-bottom: 24px;
}
.footer-nav li{
    list-style: disc;
}
.footer-nav ul + ul {
    margin-left: 60px;
}
.footer-nav li + li {
    margin-top: 20px;
}
.footer-nav li:hover {
    color: #ff5912;
}
.payment-methods-title {
    font-family: Harmonia_semibold, sans-serif;
    font-size: 16px;
}
.payment-methods-icon {
    margin-top: 22px;
}
.payment-methods li + li {
    margin-left: 9px;
}
@media (max-width: 991px) {
    footer {
        font-size: 12px;
    }
    .footer-nav ul + ul {
        margin-left: 28px;
    }
}
@media (max-width: 767px) {
    .footer-content-wrap {
        flex-direction: column;
    }
    .footer-logo {
        align-items: center;
        margin-bottom: 40px;
    }
    .footer-logo img {
        margin-bottom: 12px;
    }
    .footer-nav {
        margin-bottom: 40px;
    }
    .footer-nav ul + ul {
        margin-left: 44px;
    }
    .payment-methods {
        text-align: center;
    }
}
@media (max-width: 575px) {
    .footer-nav {
        flex-direction: column;
        font-size: 14px;
    }
    .footer-nav ul + ul {
        margin-left: 0;
        margin-top: 40px;
    }
}
/* FOOTER END */
.product-item {
    font-family: 'Harmonia_bold', sans-serif;
    height: 372px;
    font-size: 18px;
    padding: 30px 10px;
    position: relative;
}
.product-item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.item-description {
    padding: 0 32px;
    margin-top: 30px;
}
.product-item .item-img {
    height: 216px;
    transition: all .3s linear;
}
.product-item .item-img img {
    max-height: 100%;
}
.product-item .item-title {
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-item:hover .item-title {
    color: #ff5912;
}
.product-item:hover .item-price {
    display: none;
}
.product-item:hover .item-img {
    height: 90px;
}
.more-info-on-hover {
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 0 50px;
    transition: all .3s linear;
    z-index: -1;
}
.product-item:hover .more-info-on-hover {
    opacity: 1;
    z-index: 999;
}
.product-item .more-info-on-hover .sizes {
    margin-bottom: 30px;
    font-size: 14px;
}
.product-item .colors {
    border-bottom: 1px solid #edeff1;
    padding-bottom: 30px;
}
.product-item li{
    display: inline-block;
}
.product-item .colors li{
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.product-item .item-controls {
    margin-top: 34px;
}
.item-controls li + li{
    margin-left: 28px;
}
@media (max-width: 1199px) {
    .item-description,
    .more-info-on-hover {
        padding: 0;
    }
}
@media (max-width: 991px) {
    .product-item {
        margin-bottom: 30px;
    }
}
.load-more {
    padding: 25px 0;
    display: block;
}
.load-more:hover {
    text-decoration: none;
}
.load-more-circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #ff5912;
    border-radius: 50%;
}
.new-arrivals .load-more {
    margin-top: 78px;
}
@media (max-width: 991px) {
    .new-arrivals .load-more {
        margin-top: 48px;
    }
}
@media (max-width: 575px) {
    .new-arrivals .load-more {
        margin-top: 0;
    }
}
.icon.icon-cart-ic-hover,
.icon.icon-cart-ic {
    margin-bottom: -3px;
}
.subscribe-form {
    padding: 35px 45px;
}
.subscribe-title {
    font-size: 18px;
    font-family: 'Harmonia_bold', sans-serif;
    text-transform: uppercase;
    margin-right: 25px;
}
.subscribe-info {
    font-family: Harmonia_italic, sans-serif;
    font-size: 14px;
}
.subscribe-form input {
    min-width: 270px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;

}
@media (max-width: 991px) {
    .subscribe-form {
        flex-direction: column;
    }
    .subscribe-description {
        margin-bottom: 24px;
    }
}
@media (max-width: 575px) {
    .subscribe-form {
        padding-right: 20px;
        padding-left: 20px;
    }
    .subscribe-form form {
        flex-direction: column;
    }
    .subscribe-description {
        flex-direction: column;
        margin-bottom: 40px;
        text-align: center;
    }
    .subscribe-title {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .subscribe-form input {
        min-width: 230px;
        margin: 12px 0;
        text-align: center;
    }
    .subscribe-form button {
        width: 100%;
    }
}
.aside-section {
    padding: 40px;
    font-family: Harmonia_semibold, sans-serif;
}
.categories {
    font-size: 16px;
    color: #34404b;
}
.aside-section .categories li + li {
    margin-top: 38px;
}
.aside-title {
    font-size: 18px;
    margin-bottom: 40px;
    font-family: Harmonia_black, sans-serif;
}
.slider-title.slider-title {
    padding-bottom: 64px;
    margin-bottom: 0;
}
.aside-section + .aside-section {
    margin-top: 30px;
}
.aside-section .checkbox-group + .checkbox-group {
    margin-top: 38px;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    font-size: 16px;
    color: #34404b;
    cursor: pointer;
    user-select: none;
}
input[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}
input[type="checkbox"]:checked + label {
    color: #ff5912;
}
input[type="checkbox"]:checked + label::before {
    border-color: #ff5912;
}
.ui-widget.ui-widget-content {
    border: none;
    background-color: #edf0f2;
    border-radius: 0;
    height: 3px;
}
.range {
    font-size: 14px;
}
.add-range-value {
    margin-top: 30px;
}
.min-value,
.max-value {
    position: absolute;
    bottom: 200%;
    color: #34404b;
}
.ui-widget-content .ui-state-default.ui-slider-handle {
    width: 11px;
    height: 11px;
    background-color: #34404b;
    border-radius: 50%;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}
.ui-slider .ui-slider-range {
    background-color: #34404b;
}
.range-input-reoup {
    display: flex;
    align-items: center;
}
.range-input-reoup label {
    margin-right: 10px;
}
.range-input-reoup input {
    background-color: #edf0f2;
    line-height: 25px;
    width: 45px;
}
.range-input-reoup + .range-input-reoup {
    margin-left: 18px;
}
.btn {
    padding: 17px 28px;
    font-family: Harmonia_semibold, sans-serif;
    font-size: 14px;
    color: #fff;
    border-radius: 0;
    white-space: nowrap;
    line-height: inherit;
}
.btn.btn-default {
    background-color: #ff5912;
}
.btn.btn-default:hover {
    color: #fff;
    opacity: .9;
}
.btn:focus {
    box-shadow: none;
}
/* DEFAULT COMPONENTS END */
/* CUSTOM STYLE START */
#sale-carousel {
    padding-left: 8%;
}
#sale-carousel .order-info{
    margin-top: 66px;
}
.sale-carousel {
    min-height: 650px;
    background: url('../img/carousel-img-1.jpg') no-repeat center / cover;
    margin-bottom: 60px;
}
.sale-carousel .order-info a{
    margin-left: 30px;
}
.sale-carousel .order-info span i.icon{
    margin-right: 8px;
}
.sale-carousel .carousel-indicators {
    right: auto;
    bottom: auto;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
}
.sale-carousel .carousel-indicators li {
    width: 10px;
    height: 18px;
    opacity: 1;
    background-color: #fff;
    margin: 0;
    border: none;
    box-shadow: none;
    transition: all .3s linear;
}.sale-carousel .carousel-indicators li + li {
     margin-top: 10px;
 }
.sale-carousel .carousel-indicators li.active {
    height: 36px;
    background-color: #ff5912;
}
@media (max-width: 575px) {
    .sale-carousel {
        min-height: 500px;
    }
    #sale-carousel .title {
        font-size: 30px;
    }
}
.new-arrivals .text-section {
    margin-bottom: 80px;
}
.kit {
    padding: 20px 60px;
    border: 1px solid #eaedef;
}
.sales-block {
    position: relative;
}
.sales-block .light-orange-bg,
.sales-block .orange-bg {
    display: inline-block;
    width: 50px;
    height: 60px;
}
.sales-block .light-orange-bg {
    transform: rotate(-45deg);
}
.sales-block .orange-bg {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
}
.sale-discount {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.sale-discount span {
    display: block;
}
.sale {
    font-family: Harmonia_italic, sans-serif;
}
.discount {
    font-family: Harmonia_black, sans-serif;
    font-size: 18px;
}
.winter-kit-title {
    font-size: 22px;
    font-family: Harmonia_black, sans-serif;
    margin-bottom: 16px;
}
.winter-kit-info {
    padding-right: 38px;
    border-right: 1px solid #edeff1;
}
.winter-kit-buy {
    font-size: 32px;
    font-family: 'Harmonia_black', sans-serif;
}
.winter-kit-buy .icon.icon-add-to-cart-ic-hover {
    margin-right: 20px;
}
.adv-area {
    padding: 30px 0;
    border: 1px solid #eaedef;
}
.adv-area .area-title {
    display: block;
    font-size: 16px;
    margin-bottom: 14px;
}
.adv-area .area-size {
    letter-spacing: .6em;
    opacity: .4;
}
@media (max-width: 1199px) {
    .kit {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 991px) {
    .kit {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .winter-kit-info {
        padding-right: 0;
        border: none;
    }
}
@media (max-width: 575px) {
    .kit .flex-container.align-center.justify-sb {
        flex-direction: column;
    }
    .winter-kit-info {
        text-align: center;
        margin: 30px 0;
    }
}
.best-sales .items-wrap {
    padding-top: 84px;
}
.best-sale-item {
    padding: 30px;
}
.best-sale-item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.best-item-img {
    padding-right: 25px;
}
.best-sales .sub-title {
    display: block;
    margin-bottom: 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.best-item-description .sub-title:hover {
    color: inherit;
}
.best-sales .best-item-description {
    padding-left: 25px;
    border-left: 1px solid #eaedef;
}
.best-item-rate {
    opacity: 1;
    transition: all .2s linear;
}
.best-item-description .item-price {
    opacity: 1;
    transition: all .2s linear;
}
.best-item-rate li {
    display: inline-block;
}
.best-item-description .item-price {
    font-size: 16px;
}
.item-rate-n-price {
    position: relative;
}
.best-item-add-to-cart {
    opacity: 0;
    transition: all .3s linear;
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.best-item-add-to-cart:hover {
    color: #ff5912;
}
.best-item-add-to-cart span {
    font-size: 16px;
    font-family: Harmonia_semibold, sans-serif;
}
.best-sale-item .icon.icon-add-to-cart-ic-hover {
    margin-right: 8px;
}
.best-sale-item:hover .best-item-add-to-cart{
    opacity: 1;
    z-index: 9999;
}
.best-sale-item:hover .best-item-rate{
    opacity: 0;
}
.best-sale-item:hover .best-item-description .item-price{
    opacity: 0;
}
@media (max-width: 1199px) {
    .best-sale-item {
        padding: 20px;
    }
    .best-item-img {
        padding-right: 10px;
    }
    .best-sales .best-item-description {
        padding-left: 10px;
    }
}
@media (max-width: 767px) {
    .best-sale-item {
        margin-bottom: 30px;
        justify-content: space-around;
    }
    .best-sales .best-item-description {
        padding-left: 52px;
    }
}
@media (max-width: 575px) {
    .best-sales .best-item-description {
        padding-left: 10px;
        border-left: none;
    }
}
.category-wrap {
    padding-top: 120px;
    padding-bottom: 60px;
}
.category-wrap .product-item {
    margin-bottom: 30px;
}
.product-wrap {
    padding-top: 100px;
    padding-bottom: 80px;
    margin-bottom: 60px;
}
.product-slider {
    width: 330px;
    margin: 0 auto;
}
.product-description .text-section {
    line-height: 1.87;
    margin-bottom: 38px;
}
.size-radio input[type='radio'] {
    display: none;
}
.size-radio label {
    font-size: 14px;
    color: #34404b;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
}
.size-radio + .size-radio:before {
    content: '-';
    margin-right: 5px;
    margin-left: 5px;
}
.size-radio input[type='radio']:checked + label{
    color: #ff5912;
    font-size: 18px;
}
.order-info .order-form,
.make-order {
    font-size: 18px;
    color: #34404b;
    font-family: Harmonia_semibold, sans-serif;
}
#product-option-form {
    padding: 40px 0;
    border-top: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;
}
#product-option-form span {
    margin-right: 18px;
}
.make-order {
    padding-top: 40px;
}
.make-order button {
    border-radius: 40px;
    line-height: normal;
    margin-left: 28px;
}
.related-products .text-section {
    margin-bottom: 80px;
}
/* CUSTOM STYLE END */